h1= title
- if(typeof(logs) !== "undefined")
    table
        tr
            td
                b Log ID
            td
                b Timestamp
            td
                b Message
        - each log in logs
                tr
                    td
                        p= log.RowKey
                    td
                        p #{log.Timestamp}
                    td
                        p= log.message

- else
    span No recent logs