h1= title
- if(typeof(logs) !== "undefined")
    table
        tr
            td
                Log ID
            td
                Timestamp
            td
                Message
    - each log in logs
        tr
            td
                log.RowKey
            td
                log.Timestamp
            td
                log.Message
- else
    span No recent logs